TravelGood/src/TravelGood.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="TravelGood" targetNamespace="http://TravelGood.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://TravelGood.ws" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns0="http://airline/">
    <types>
        <xsd:schema targetNamespace="http://TravelGood.ws" xmlns:tns="http://TravelGood.ws">
            <xsd:import namespace="http://airline/" schemaLocation="http://localhost:8080/AirlineReservation/AirlineReservation?xsd=1"/>
            <xsd:complexType name="CardInfo">
                <xsd:sequence maxOccurs="unbounded">
                    <xsd:element name="CardHolder">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="CardNumber">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="ExpireDate">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:date"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HotelInfo">
                <xsd:sequence maxOccurs="unbounded">
                    <xsd:element name="HotelName">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="HotelAddress">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="BookingNumber">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="HotelFullPrice">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:int"/>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="HotelRequireCreditCard">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:boolean"/>
                        </xsd:simpleType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="GetHotelRequest">
        <part name="HotelCity" type="xsd:string"/>
        <part name="HotelArrivalDate" type="xsd:string"/>
        <part name="HotelDepartureDate" type="xsd:string"/>
    </message>
    <message name="GetHotelResponse">
        <part name="HotelList" type="tns:HotelInfo"/>
    </message>
    <message name="CancelHotelOperationRequest">
        <part name="HotelBookingNumber" type="xsd:int"/>
    </message>
    <message name="CancelHotelOperationResponse">
        <part name="HotelCancelingMessage" type="xsd:string"/>
    </message>
    <message name="CancelHotelOperationFault">
        <part name="BookingNumberNotExist" type="xsd:string"/>
    </message>
    <message name="BookHotelOperationRequest">
        <part name="BookingNumber" type="xsd:int"/>
        <part name="CardNeeded" type="xsd:boolean"/>
        <part name="CardInfo" type="tns:CardInfo"/>
    </message>
    <message name="BookHotelOperationResponse">
        <part name="HotelBookingResponse" type="xsd:boolean"/>
    </message>
    <message name="BookHotelOperationFault">
        <part name="BookingNumberNotExist" type="xsd:string"/>
        <part name="CardInfoNotExist" type="xsd:string"/>
    </message>
    <message name="GetFlightOperationRequest">
        <part name="FlightStart" type="xsd:string"/>
        <part name="FlightDest" type="xsd:string"/>
        <part name="FlightDate" type="xsd:string"/>
    </message>
    <message name="GetFlightOperationResponse">
        <part name="FlightInfo" type="xsd:string"/>
    </message>
    <message name="BookFlightRequest">
        <part name="BookingNumber" type="xsd:int"/>
        <part name="Cardinfo" type="tns:CardInfo"/>
    </message>
    <message name="BookFlightResponse">
        <part name="FlightBooked" type="xsd:boolean"/>
    </message>
    <message name="BookFlightFault">
        <part name="FlightNumberNotExist" type="xsd:string"/>
        <part name="CardInfoNotExist" type="xsd:string"/>
    </message>
    <message name="CancelFlightOperationRequest">
        <part name="BookingNumber" type="xsd:int"/>
        <part name="FlightPrice" type="xsd:int"/>
        <part name="CardHolder" type="xsd:string"/>
        <part name="CardNumber" type="xsd:string"/>
        <part name="ExpireDate" type="xsd:string"/>
        <part name="CardInfo" type="tns:CardInfo"/>
    </message>
    <message name="CancelFlightOperationResponse">
        <part name="IsDone" type="xsd:boolean"/>
    </message>
    <message name="CancelFlightFault">
        <part name="FlightCancelationFailed" type="xsd:string"/>
    </message>
    <message name="TravelGoodOperationRequest">
        <part name="start" type="xsd:boolean"/>
    </message>
    <message name="TravelGoodOperationResponse">
        <part name="IsItDone" type="xsd:boolean"/>
    </message>
    <portType name="TravelGoodOperations">
        <operation name="GetFlights">
            <input name="getFlightInput1" message="tns:GetFlightOperationRequest"/>
            <output name="getFlightOutput1" message="tns:GetFlightOperationResponse"/>
        </operation>
        <operation name="GetHotel">
            <input name="getHotelInput1" message="tns:GetHotelRequest"/>
            <output name="getHotelOutput1" message="tns:GetHotelResponse"/>
        </operation>
        <operation name="CancelHotel">
            <input name="CancelHotelInput2" message="tns:CancelHotelOperationRequest"/>
            <output name="CancelHotelOutput2" message="tns:CancelHotelOperationResponse"/>
            <fault name="CancelHotelFault1" message="tns:CancelHotelOperationFault"/>
        </operation>
        <operation name="BookHotel">
            <input name="bookHotelInput3" message="tns:BookHotelOperationRequest"/>
            <output name="bookHotelOutput3" message="tns:BookHotelOperationResponse"/>
            <fault name="bookHotelFault1" message="tns:BookHotelOperationFault"/>
        </operation>
        <operation name="BookFlight">
            <input name="bookFlightInput4" message="tns:BookFlightRequest"/>
            <output name="bookFlightOutput4" message="tns:BookFlightResponse"/>
            <fault name="bookFlightFault1" message="tns:BookFlightFault"/>
        </operation>
        <operation name="CancelFlight">
            <input name="cancelFlightInput5" message="tns:CancelFlightOperationRequest"/>
            <output name="cancelFlightOutput5" message="tns:CancelFlightOperationResponse"/>
            <fault name="cancelFlightFault1" message="tns:CancelFlightFault"/>
        </operation>
        <operation name="Initiate">
            <input name="input1" message="tns:TravelGoodOperationRequest"/>
            <output name="output1" message="tns:TravelGoodOperationResponse"/>
        </operation>
    </portType>
    <binding name="TravelGoodBinding" type="tns:TravelGoodOperations">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetFlights">
             <soap:operation/>
            <input name="getFlightInput1">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </input>
            <output name="getFlightOutput1">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </output>
        </operation>
        <operation name="CancelFlight">
             <soap:operation/>
            <input name="cancelFlightInput5">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </input>
            <output name="cancelFlightOutput5">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </output>
            <fault name="cancelFlightFault1">
                <soap:fault 
                name="cancelFlightFault1" 
                use="literal"
                namespace="http://travelgood.ws" />
            </fault>
        </operation>
        <operation name="GetHotel">
             <soap:operation/>
            <input name="getHotelInput1">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </input>
            <output name="getHotelOutput1">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </output>
        </operation>
        <operation name="CancelHotel">
             <soap:operation/>
            <input name="CancelHotelInput2">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </input>
            <output name="CancelHotelOutput2">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </output>
            <fault name="CancelHotelFault1">
                <soap:fault 
                name="CancelHotelFault1" 
                use="literal"
                namespace="http://travelgood.ws" />
            </fault>
        </operation>
        <operation name="BookHotel">
             <soap:operation/>
            <input name="bookHotelInput3">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </input>
            <output name="bookHotelOutput3">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </output>
            <fault name="bookHotelFault1">
                <soap:fault 
                name="bookHotelFault1" 
                use="literal"
                namespace="http://travelgood.ws" />
            </fault>
        </operation>
        <operation name="BookFlight">
             <soap:operation/>
            <input name="bookFlightInput4">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </input>
            <output name="bookFlightOutput4">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </output>
            <fault name="bookFlightFault1">
                <soap:fault
                name= "bookFlightFault1"
                use="literal"
                namespace="http://travelgood.ws" />
            </fault>
        </operation>
        <operation name="Initiate">
             <soap:operation/>
            <input name="input1">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </input>
            <output name="output1">
                <soap:body use="literal"
                namespace="http://travelgood.ws" />
            </output>
        </operation>
    </binding>
    <service name="TravelGoodService">
        <port name="TravelGoodPort" binding="tns:TravelGoodBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/TravelGoodService/TravelGoodPort"/>
        </port>
    </service>
    <plnk:partnerLinkType name="TravelGood">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="TravelGoodPortTypeRole" portType="tns:TravelGoodOperations"/>
    </plnk:partnerLinkType>
</definitions>
