TravelGood/src/localhost_8080/HotelReservation/HotelReservation.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1 (branches/2.1-6844; 2011-07-29T12:07:24+0000) JAXWS-RI/2.2.5 JAXWS/2.2. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Hotel/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Hotel/" name="HotelReservation">
<types>
<xsd:schema>
<xsd:import namespace="http://Hotel/" schemaLocation="http://localhost:8080/HotelReservation/HotelReservation?xsd=1"/>
</xsd:schema>
</types>
<message name="cancelHotel">
<part name="parameters" element="tns:cancelHotel"/>
</message>
<message name="cancelHotelResponse">
<part name="parameters" element="tns:cancelHotelResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="bookHotel">
<part name="parameters" element="tns:bookHotel"/>
</message>
<message name="bookHotelResponse">
<part name="parameters" element="tns:bookHotelResponse"/>
</message>
<message name="getHotel">
<part name="parameters" element="tns:getHotel"/>
</message>
<message name="getHotelResponse">
<part name="parameters" element="tns:getHotelResponse"/>
</message>
<message name="bookHotelCreditCard">
<part name="parameters" element="tns:bookHotelCreditCard"/>
</message>
<message name="bookHotelCreditCardResponse">
<part name="parameters" element="tns:bookHotelCreditCardResponse"/>
</message>
<portType name="HotelReservation">
<operation name="cancelHotel">
<input wsam:Action="http://Hotel/HotelReservation/cancelHotelRequest" message="tns:cancelHotel"/>
<output wsam:Action="http://Hotel/HotelReservation/cancelHotelResponse" message="tns:cancelHotelResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Hotel/HotelReservation/cancelHotel/Fault/Exception"/>
</operation>
<operation name="bookHotel">
<input wsam:Action="http://Hotel/HotelReservation/bookHotelRequest" message="tns:bookHotel"/>
<output wsam:Action="http://Hotel/HotelReservation/bookHotelResponse" message="tns:bookHotelResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Hotel/HotelReservation/bookHotel/Fault/Exception"/>
</operation>
<operation name="getHotel">
<input wsam:Action="http://Hotel/HotelReservation/getHotelRequest" message="tns:getHotel"/>
<output wsam:Action="http://Hotel/HotelReservation/getHotelResponse" message="tns:getHotelResponse"/>
</operation>
<operation name="bookHotelCreditCard">
<input wsam:Action="http://Hotel/HotelReservation/bookHotelCreditCardRequest" message="tns:bookHotelCreditCard"/>
<output wsam:Action="http://Hotel/HotelReservation/bookHotelCreditCardResponse" message="tns:bookHotelCreditCardResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://Hotel/HotelReservation/bookHotelCreditCard/Fault/Exception"/>
</operation>
</portType>
<binding name="HotelReservationPortBinding" type="tns:HotelReservation">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cancelHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="bookHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookHotelCreditCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="HotelReservation">
<port name="HotelReservationPort" binding="tns:HotelReservationPortBinding">
<soap:address location="http://localhost:8080/HotelReservation/HotelReservation"/>
</port>
</service>
</definitions>